<!DOCTYPE html>
<html>

    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Mutaz. It uses data from mapbox.com and darksky.net to get the weather from the desired location.</p>
            <img class="portrait" src="./img/mutaz.jpg">
        </div>

        {{>footer}}
    </body>

</html>